:root {
  /* Font */
  --font-family-logo: 'Raleway', 'Montserrat', 'sans-serif';
  --font-family-main: 'Roboto', 'Open Sans', 'sans-serif';
  --font-weight-heading: 700;

  /* Text colors */
  --primary-brand-txt-cl: #4d5ae5;
  --body-txt-cl: #434455;
  --dark-txt-cl: #2e2f42;
  --light-txt-cl: #f4f4fd;
  --white-txt-cl: #ffffff;
  --active-link-txt-cl: #404bbf;

  /* Background colors */
  --dark-bg-cl: #2e2f42;
  --light-bg-cl: #f4f4fd;
  --primary-brand-bg-cl: #4d5ae5;
  --accent-bg-cl: #e7e9fc;
  --white-bg-cl: #ffffff;
  --light-btn-bg-color: #f4f4fd;
  --pressed-bg-cl: #404bbf;

  /* Others */
  --indent: 24px;
  --items: 3;
  --transition-delay: 250ms;
  --transition-tim-fun: cubic-bezier(0.4, 0, 0.2, 1);

  /* Breakpoints */
  --screen-phone: 480px;
  --screen-tablet: 768px;
  --screen-desktop: 1200px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* min-width: 320px;
  max-width: 428px;
  padding: 0 16px; */

  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* -------------------------- */
/* -----------body----------- */
/* -------------------------- */

body {
  font-family: var(--font-family-main);

  color: var(--body-txt-cl);

  background-color: var(--white-bg-cl);
}

/* -------------------------- */
/* ---------buttons---------- */
/* -------------------------- */
.btn:hover,
.btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--pressed-bg-cl);
}

.btn {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn {
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  color: var(--white-txt-cl);
  background-color: var(--primary-brand-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-delay) var(--transition-tim-fun),
    color var(--transition-delay) var(--transition-tim-fun);
}

.portfolio-btn {
  padding: 12px 24px;

  color: var(--primary-brand-txt-cl);
  background-color: var(--light-btn-bg-color);
  border: 1px solid #e7e9fc;

  transition: box-shadow var(--transition-delay) var(--transition-tim-fun),
    background-color var(--transition-delay) var(--transition-tim-fun),
    color var(--transition-delay) var(--transition-tim-fun);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------------------- */
/* -----------link----------- */
/* -------------------------- */

.header-nav .link.current {
  color: var(--active-link-txt-cl);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* -------------------------- */
/* --------title (h2)-------- */
/* -------------------------- */

.section-title {
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------- */
/* -----------logo----------- */
/* -------------------------- */
.logo {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-txt-cl);
}

.light-theme-logo {
  color: var(--dark-txt-cl);
}

.dark-theme-logo {
  color: var(--light-txt-cl);
}

.header-link {
  margin-right: 76px;
}

/* ------------------- */
/* ------card-set----- */
/* ------------------- */

.card-set {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc(
    (100% - (var(--indent) * (var(--items) - 1))) / var(--items)
  );
}

/* -------------------------- */
/* ------section-header------ */
/* -------------------------- */

.nav-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}

.nav-item,
.nav-contacts {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color var(--transition-delay) var(--transition-tim-fun);
}

.header .nav-contacts {
  color: inherit;
}

.nav-item:hover,
.nav-item:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--active-link-txt-cl);
}

.nav-item.current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-link-txt-cl);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

/* -------------------------- */
/* -------section-hero------- */
/* -------------------------- */
.hero-title {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white-txt-cl);
}

.hero {
  background-color: var(--dark-bg-cl);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;

  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  text-align: center;
}

/* -------------------------- */
/* -----section-benefits----- */
/* -------------------------- */

.benefits {
  padding-bottom: 0;
}

.benefits-thumb-icon {
  padding: 24px 100px;
  margin-bottom: 8px;

  background-color: var(--light-bg-cl);
  border-radius: 4px;
}

.benefits-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-descr {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

/* ----------------------------- */
/* -section "What are we doing"- */
/* ----------------------------- */

/* ----------------------------- */
/* -----section "Our Team"------ */
/* ----------------------------- */

.our-team-container {
  text-align: center;
}

.our-team-list {
  --items: 4;
}

.our-team-item {
  background-color: var(--white-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-member {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.our-team {
  background-color: var(--light-bg-cl);
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand-bg-cl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light-txt-cl);
  transition: background-color var(--transition-delay) var(--transition-tim-fun);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-bg-cl);
}

.socials-icon {
  fill: currentColor;
}

/* ----------------------------- */
/* -----section "Customers"------ */
/* ----------------------------- */

.customers-section {
  padding-top: 120px;
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;

  border: 1px solid currentColor;
  color: #8e8f99;
  border-radius: 4px;
  transition: color var(--transition-delay) var(--transition-tim-fun);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--active-link-txt-cl);
}

/* -------------------------- */
/* ---------footer----------- */
/* -------------------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--dark-bg-cl);
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-container {
  margin-right: 120px;
}

.footer-logo-subtext {
  font-family: var(--font-family-main);
  margin-top: 16px;
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #d9d9d9;
}

.footer-social-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--white-txt-cl);
}

.footer-socials-list {
  gap: 16px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-delay) var(--transition-tim-fun);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
  margin-left: 80px;
}

.footer-subscribe-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-txt-cl);
}

.footer-subscribe-form {
  display: flex;
}

.footer-form-label {
  display: block;
  margin-right: 24px;
}

.footer-input {
  padding: 8px 16px;
  min-width: 264px;
  height: 40px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-txt-cl);
  background-color: transparent;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-btn {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 8px 24px;
  gap: 16px;

  color: var(--white-txt-cl);
  background: var(--primary-brand-bg-cl);

  transition: background-color var(--transition-delay) var(--transition-tim-fun),
    color var(--transition-delay) var(--transition-tim-fun);
}

.footer-btn-icon {
  fill: currentColor;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* -------------------------- */
/* -------Portfolio---------- */
/* -------------------------- */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

/* -------------------------- */
/* ----section Filters------- */
/* -------------------------- */

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.portfolio-text {
  color: var(--body-txt-cl);
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.main-portfolio-section {
  padding-top: 96px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-services {
  row-gap: 48px;
}

.portfolio-services-link {
  display: block;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-delay) var(--transition-tim-fun);
}

.portfolio-services-link:hover,
.portfolio-services-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text-container {
  padding: 32px 16px;

  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-delay) var(--transition-tim-fun);

  padding: 40px 32px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);

  background-color: var(--primary-brand-bg-cl);
}

.portfolio-services-link:hover .overlay,
.portfolio-services-link:focus .overlay {
  transform: translate(0, 0);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* -------------------------- */
/* -------MODAL WINDOW------- */
/* -------------------------- */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-delay) var(--transition-tim-fun),
    visibility var(--transition-delay) var(--transition-tim-fun);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-delay) var(--transition-tim-fun),
    opacity var(--transition-delay) var(--transition-tim-fun);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -75%);
  opacity: 0;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  z-index: 1000;
  background-color: var(--accent-bg-cl);
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-delay) var(--transition-tim-fun),
    color var(--transition-delay) var(--transition-tim-fun);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--pressed-bg-cl);
}

.modal-icon {
  fill: currentColor;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* -------------------------- */
/* -------MODAL FORM------- */
/* -------------------------- */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

.modal-proposition {
  text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-delay) var(--transition-tim-fun);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-bg-cl);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  background-color: inherit;
  fill: var(--dark-bg-cl);

  transition: fill var(--transition-delay) var(--transition-tim-fun);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-txt-cl);
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #8e8f99;
}

.modal-form-submit {
  min-width: 169px;
  padding: 16px 32px;
  margin-bottom: 24px;
  text-align: center;
  align-self: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-txt-cl);
  background: var(--primary-brand-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-delay) var(--transition-tim-fun),
    color var(--transition-delay) var(--transition-tim-fun);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-delay) var(--transition-tim-fun);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--primary-brand-bg-cl);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: #757575;
}

.modal-form-link-text {
  color: var(--primary-brand-txt-cl);
  text-decoration: underline;
}

.modal-form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  width: 16px;
  height: 16px;

  transition: background-color var(--transition-delay) var(--transition-tim-fun);
}

.modal-check-icon {
  opacity: 0;

  transition: opacity var(--transition-delay) var(--transition-tim-fun),
    fill var(--transition-delay) var(--transition-tim-fun);
}

.modal-form-check:checked + .modal-form-check-desc .modal-form-checkbox {
  background-color: var(--pressed-bg-cl);
  border: 1.25px solid #404bbf;
}

.modal-form-check:checked
  + .modal-form-check-desc
  .modal-form-checkbox
  .modal-check-icon {
  opacity: 1;
  fill: var(--white-txt-cl);
}

.modal-form-check:focus + .modal-form-check-desc .modal-form-checkbox {
  outline: 1px solid #4d5ae5;
}
